<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-right">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand pull-right" style="margin-left:0;" href="/">דף בית</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle text-right" data-toggle="dropdown" role="button" aria-expanded="false">...עוד
            <span class="caret"></span></a>
          <ul class="dropdown-menu text-right" role="menu">
            <li><a class="text-right" href="#">עוד דברים טובים</a></li>
            <li class="divider"></li>
            <li><a class="text-right" href="#">עבודה</a></li>
          </ul>
        </li>
        <li><a class="text-right" href="#">סרטונים</a></li>
        <li class="active"><a class="text-right" href="#">פוסטים<span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
